@media print {
    .dropzone,
    .mdl-button,
    #side-bar {
        display: none;
    }


    @page {
        margin: 0.5cm;
    }



    .fc {
        max-width: 100% !important;
    }

    /* Global Event Restyling
--------------------------------------------------------------------------------------------------*/
    .fc-event {
        background: #fff !important;
        color: #000 !important;
        page-break-inside: avoid;
    }



    /* Table & Day-Row Restyling
--------------------------------------------------------------------------------------------------*/
}
